<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous"
  />

  <link rel="icon" href="../assets/favicon/favicon.ico" />
  <link rel="stylesheet" href="../src/main.css" />

  <!-- FAVICON -->

  <link
    rel="android-chrome-192x192.png"
    sizes="192x192"
    href="../assets/favicon/android-chrome-192x192.png"
  />

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="../assets/favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="../assets/favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="../assets/favicon/favicon-16x16.png"
  />
  <link rel="manifest" href="../assets/favicon/site.webmanifest" />

  <title>⚗️ Contact Us - STEAMING STEM 🧑🏻‍💻</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="../src/email.js"></script>

    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init("TW6XGbONCCJf4lBdX");
   })();
</script>



</head>
<body>
  <header>
          <div class="container-fluid">
        <div class="col">
          <div class="row">
<div class="col-2">
  <img
  src="../src/istockphoto-476882328-612x612-removebg-preview.png"
  alt="img"
  width="80"
  height="80"
  onclick="window.open('../index.html', '_self')"
>
</div>

          </div>

        </div>
      </div>
      </header>
  

  <section class="container-fluid">
    <div class="row  " id="contactUsForm">
        <div class="col ">

            <h5 class="uppercase text-center mt-4 mb-4">
                Send us a mail!
            </h5>
            <div >
                <form onsubmit="return sendMail(this);">
                    <input type="text" name="name" class="form-control" autofocus id="fullname" placeholder="Name" required/>
                    <input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email" required/>
                    <textarea rows="5" name="inquiry" class="form-control" id="inquiry" placeholder="Tell us how can we help you" required></textarea>
                    <button type="submit" class="center-block" >Send Your Inquiry</button>
                </form>
            </div>
        </div>
    </div>

</section>

  


</body>
</html>