<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous"
  />

  <link rel="icon" href="../assets/favicon/favicon.ico" />
  <link rel="stylesheet" href="../src/main.css" />

  <!-- FAVICON -->

  <link
    rel="android-chrome-192x192.png"
    sizes="192x192"
    href="../assets/favicon/android-chrome-192x192.png"
  />

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="../assets/favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="../assets/favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="../assets/favicon/favicon-16x16.png"
  />
  <link rel="manifest" href="../assets/favicon/site.webmanifest" />

  <title>⚗️ STEAMING STEM 🧑🏻‍💻</title>


</head>
<body>
  <h2>signed up student</h2>
  
  <h2 id="userlog"></h2>
  

<script src="../src/user.js"></script>

</body>
</html>