<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous"
  />

  <link rel="icon" href="../assets/favicon/favicon.ico" />
  <link rel="stylesheet" href="../src/main.css" />

  <!-- FAVICON -->

  <link
    rel="android-chrome-192x192.png"
    sizes="192x192"
    href="../assets/favicon/android-chrome-192x192.png"
  />

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="../assets/favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="../assets/favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="../assets/favicon/favicon-16x16.png"
  />
  <link rel="manifest" href="../assets/favicon/site.webmanifest" />

  <title>⚗️ STEAMING STEM 🧑🏻‍💻</title>


</head>
<body>
  <header>
    <div class="container-fluid ">
        <div class="row ">
          <div class="col-4">
            <img
            src="../src/istockphoto-476882328-612x612-removebg-preview.png"
            alt="img"
            width="80"
            height="80"
            onclick="window.open('../index.html', '_self')"
          >
          <h4>Steaming STEM</h4>
          </div>          
        
          <div class="col-8 d-flex flex-wrap justify-content-end align-items-center">
            <h4>Teacher : </h4>
            <h4 id="userlog"></h4>
            <img
              src="../src/icons8-user-50.png"
              width="50"
              height="50"
              alt="user-icon"
            />
          </div>
        </div>
    </div>
  </header>
  <section>


<div>
  Teacher Resources

Defined STEM
Defined STEM takes a cross-curricular approach to addressing the concerns dealing with STEM, using performance tasks, career-based video, guiding questions, lesson plans, student activities, and web resources.
http://www.definedlearning.com/defined-stem.cfm

Siemens STEM Academy
The Siemens STEM Academy has one goal: To create junior scientists who go on into science and math fields. The Siemens STEM Academy is geared toward educators, who can use it to receive interactive professional development lessons in teaching STEM topics.
http://siemensstemacademy.com/﻿


Steam Powered family
Welcome to STEAM Powered Family! Here we are constantly looking for ways to foster curiosity and a love of learning in our children, regardless of ability or history. With a focus on STEM and STEAM (Science, Technology, Engineering, Arts and Math), and positive children’s mental health practices, our goal is to foster resilient, healthy minds.
https://www.steampoweredfamily.com/

We are teachers 
Ideas and inspiration for reaching the next generation.
https://www.weareteachers.com/

Future Learn
Teaching STEM subjects in the most effective way can require non-traditional approaches to learning. Here we provide all the information and tips you need to inspire your students.
https://www.futurelearn.com/


STEM learning
Our website is home to thousands of free-to-access, quality-assured resources to support the teaching and learning of science, technology, engineering and mathematics (STEM) subjects.
https://www.stem.org.uk/resources


University of Connecticut
https://stem.education.uconn.edu/teaching-stemstem-resources/

NASA

https://www.nasa.gov/stem/foreducators/k-12/index.html
</div>

  </section>

<script src="../src/user.js"></script>

</body>
</html>