@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  box-sizing: border-box;
}

/*  */

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#togglebtn {
  width: auto!important;
}

.text {
  text-align: justify;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: var(--color-primary-dark);
  color: white;
  font-size: 1 rem;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 400px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

.form--hidden {
  display: none;
}

/* */

body {
  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;

  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  background-size: cover;
  background: rgba(0, 221, 250, 0.18);
  color: #00418c;
}

.container {
  width: 90%;
  max-width: 380px;
  padding: 2rem!important;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: #ffffff;
}

.container,
.form__input,
.form__button {
  font: 500 1rem "Quicksand", sans-serif;
}

.form--hidden {
  display: none;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color-success);
}

.form__message--error {
  color: var(--color-error);
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form__button:hover {
  background: var(--color-primary-dark);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.form__link {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
}

/* modal */

.modal {
  display: none;
  overflow: auto;
  display: flex;
  align-items: center;
}

/*define the close button*/

.close {
  left: 50%;
  top: 5px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
}
/*define the close hover and focus effects*/

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}


/**/

.transpar {
  background-color: transparent!important;
  width: 80%;
  margin-left: 10%;
  
}


/* Border */

.border {
  border: 1.5px rgb(0, 47, 43) solid;
  border-radius: 8px;
  padding: 20px;
  margin-top: 1em;
}

/* Font navbar */
nav {
  background: transparent;
  border-top: 1px #00654e solid;
  border-bottom: 1px #00654e solid;
}
.nav-styled {
  font-size: 18px;
  font-weight: bold;
  color:#252c6a!important;
  text-decoration: none!important;
  transition: all .2s ease-in-out;
}

.nav-styled:hover {
  transform: scale(1.1);
}

/* FOOTER */

.footer-styled {
  margin-top: 3em;
  bottom: 0px;
  padding: 10px;
  background-color: #00654e;
}

/* Welcome Page */


@media screen and (min-width: 400px) {

#d-welcome {
  margin-top: 10%;
}

}


/* contactUs Page */


@media screen and (min-width: 700px) {

#contactUsForm {
  width: 70%;
  margin-left: 15%;
}
}

